In [1]:
import pandas as pd

In [3]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2020-10.csv.gz

--2024-02-01 17:01:31--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2020-10.csv.gz
Resolving github.com (github.com)... 140.82.121.3
Connecting to github.com (github.com)|140.82.121.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/b94c0bd2-e629-406d-aecf-d4e2c0412807?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240201%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240201T170131Z&X-Amz-Expires=300&X-Amz-Signature=ad12a49fc373490873160263bafbb678a3ae74cd04c4a88818022aa1c7cb9720&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2020-10.csv.gz&response-content-type=application%2Foctet-stream [following]
--2024-02-01 17:01:31--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/b94c0bd2-e629-406d-aecf-d4e2c0412807?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240201%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240201T170131Z&X-Amz-Expires=300&X-Amz-Signature=ad12a49fc373490873160263bafbb678a3ae74cd04c4a88818022aa1c7cb9720&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2020-10.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.110.133, 185.199.109.133, 185.199.111.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1709547 (1,6M) [application/octet-stream]
Saving to: ‘green_tripdata_2020-10.csv.gz’

green_tripdata_2020 100%[===================>]   1,63M  3,43MB/s    in 0,5s

2024-02-01 17:01:32 (3,43 MB/s) - ‘green_tripdata_2020-10.csv.gz’ saved [1709547/1709547]

In [6]:
!ls -lai

total 1688
14973493 drwxrwxr-x 3 carlosmelorj carlosmelorj    4096 fev  1 17:03 .
14849550 drwxrwxr-x 8 carlosmelorj carlosmelorj    4096 fev  1 16:59 ..
14973495 -rw-rw-r-- 1 carlosmelorj carlosmelorj    4041 fev  1 17:03 Explore_green_taxi.ipynb
14973498 -rw-rw-r-- 1 carlosmelorj carlosmelorj 1709547 jul 14  2022 green_tripdata_2020-10.csv.gz
14973496 drwxrwxr-x 2 carlosmelorj carlosmelorj    4096 fev  1 17:00 .ipynb_checkpoints

In [8]:
df = pd.read_csv('green_tripdata_2020-10.csv.gz', sep=",", compression="gzip")

/tmp/ipykernel_179223/280606513.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('green_tripdata_2020-10.csv.gz', sep=",", compression="gzip")

In [9]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2020-10-01 00:31:19,2020-10-01 00:34:55,N,1.0,7,7,1.0,0.79,5.0,0.5,0.5,1.58,0.0,NaN,0.3,7.88,1.0,1.0,0.0
1,2.0,2020-10-01 00:42:12,2020-10-01 00:43:51,N,1.0,179,7,1.0,0.50,4.0,0.5,0.5,0.00,0.0,NaN,0.3,5.30,2.0,1.0,0.0
2,2.0,2020-10-01 00:53:09,2020-10-01 00:55:39,N,1.0,179,223,1.0,0.60,4.0,0.5,0.5,1.06,0.0,NaN,0.3,6.36,1.0,1.0,0.0
3,1.0,2020-10-01 00:12:29,2020-10-01 00:20:08,N,1.0,134,216,2.0,4.40,13.5,0.5,0.5,0.00,0.0,NaN,0.3,14.80,2.0,1.0,0.0
4,1.0,2020-10-01 00:32:38,2020-10-01 00:43:02,N,1.0,82,7,1.0,2.90,10.5,0.5,0.5,0.00,0.0,NaN,0.3,11.80,2.0,1.0,0.0

In [10]:
df.dtypes

VendorID                 float64
lpep_pickup_datetime      object
lpep_dropoff_datetime     object
store_and_fwd_flag        object
RatecodeID               float64
PULocationID               int64
DOLocationID               int64
passenger_count          float64
trip_distance            float64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
ehail_fee                float64
improvement_surcharge    float64
total_amount             float64
payment_type             float64
trip_type                float64
congestion_surcharge     float64
dtype: object

In [11]:
df['store_and_fwd_flag'].value_counts()

N    52223
Y      387
Name: store_and_fwd_flag, dtype: int64